In [89]:
import pandas

In [90]:
df = pandas.read_csv(
    './extrato_janeiro.csv', 
    delimiter=';', 
    names=['date', 'description', 'code', 'value', 'transaction_type'], 
    header=0
)
display(df.dtypes)
display(df.describe())
display(df.info())
display(df)

date                object
description         object
code                object
value               object
transaction_type    object
dtype: object

,date,description,code,value,transaction_type
count,78,78,78,78,78
unique,18,50,74,68,2
top,08/01/2024,CREDITO PIX - JOAO FILIPE DE MANTOVA CARDOSO DE,1249.593.0,"50,00",D
freq,9,6,3,5,71

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 78 entries, 0 to 77
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   date              78 non-null     object
 1   description       78 non-null     object
 2   code              78 non-null     object
 3   value             78 non-null     object
 4   transaction_type  78 non-null     object
dtypes: object(5)
memory usage: 3.2+ KB

None

,date,description,code,value,transaction_type
0,02/01/2024,DEBITO PIX - REK PARKING EMPREENDIMENT,349688.135,"5,00",D
1,02/01/2024,CARTAO DEBITO - PAG PescadosBlumenau,61230133633,"127,07",D
2,02/01/2024,CARTAO DEBITO - HOTEL GLORIA,41231113414,"84,00",D
3,02/01/2024,CREDITO PIX - JOAO FILIPE DE MANTOVA CARDOSO DE,350459.087,"4.000,00",C
4,02/01/2024,CARTAO DEBITO - BISTEK SUPERM F 167,20102135418,"368,70",D
...,...,...,...,...,...
73,26/01/2024,CARTAO DEBITO - CG - CAFEHAUS,10126113805,"14,00",D
74,26/01/2024,CARTAO DEBITO - POSTOS META LINEAR,70126114918,"100,00",D
75,29/01/2024,DEBITO PIX - RAQUEL ANDRESSA LUCIANI KLOCK,362806.475,"25,60",D
76,29/01/2024,CARTAO DEBITO - BISTEK SUPERM F 167,60128135916,"272,93",D
77,29/01/2024,CREDITO PIX - JOAO FILIPE DE MANTOVA CARDOSO DE,363116.375,"150,00",C

In [91]:
def convert_value(value: str):
    return float(value.replace('.', '').replace(',', '.'))

def format_currency_ptbr(value: float):
    return "R${:,.2f}".format(value)

df['value'] = df['value'].apply(convert_value)
df['date'] = pandas.to_datetime(df['date'], format='%d/%m/%Y')

In [92]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 78 entries, 0 to 77
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   date              78 non-null     datetime64[ns]
 1   description       78 non-null     object
 2   code              78 non-null     object
 3   value             78 non-null     float64
 4   transaction_type  78 non-null     object
dtypes: datetime64[ns](1), float64(1), object(3)
memory usage: 3.2+ KB

In [93]:
debts = format_currency_ptbr(df['value'].where(df['transaction_type'] == 'D').sum())
print('DÃ©bitos:', debts)

DÃ©bitos: R$11,583.06

In [94]:
creds = format_currency_ptbr(df['value'].where(df['transaction_type'] == 'C').sum())
print('CrÃ©ditos:', creds)

CrÃ©ditos: R$11,337.00